.translate-y-10 {
    transform: translateY(40px);
  }
  .translate-y-0 {
    transform: translateY(0);
  }
  .-translate-x-10 {
    transform: translateX(-40px);
  }
  .translate-x-10 {
    transform: translateX(40px);
  }
  .translate-x-0 {
    transform: translateX(0);
  }
  .transition-all {
    transition-property: all;
  }
  .duration-700 {
    transition-duration: 700ms;
  }
  .delay-100 {
    transition-delay: 100ms;
  }
  .delay-200 {
    transition-delay: 200ms;
  }
  .delay-300 {
    transition-delay: 300ms;
  }
  #background{
    background-color: #059669;
  }